@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@layer base {
  body {
    @apply font-sans antialiased text-primary bg-background;
  }
}
@tailwind components;
@tailwind utilities;

.bg-pattern {
  background-color: #ffffff;
  background-image:
    radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
}

