@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pattern {
  background-color: #ffffff;
  background-image:
    radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
}

